.trip-wrap {
    width: 100%;
    display: flex;
    border-top: 1px solid #E5E5E5;
    padding: 15px 50px;
}

.trip-cities {
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #062601;
}

.trip-dates {
    font-family: Work Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #062601;
}

.trip-top-wrap {
    display: flex;
    flex-direction: column;
}