.form-wrap {
    display: flex;
    flex: 1 1 100%;
    width: 100%;
    height: -webkit-fill-available;
    background: #ffffff;

    .form {
        display: flex;
        flex: 1 1 50%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .active-form {
        background-color: #B0C90B;
        color: #ffffff
    }

    form {
        margin: 40px auto;
        margin-bottom: 20px;
        max-width: 335px;
    }

    button {
        width: 60%;
        background: #062601;
        border-radius: 4px;
        border-color: transparent;
        margin: 0 auto;
        margin-top: 40px;
    }

    input {
        width: 90%;
    }

    .secondary-btn {
        color: #062601;
        cursor: pointer;
    }

    .form-group {
        justify-content: center;
        display: flex
    }
}
