.single-trip-wrap {
    display: flex;


    .map-wrap {
        min-width: 600px;
        margin: 50px;
        width: 600px;
        height: 540px;
        position: relative;
    }

    .trip-info-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 70px 50px;

        div {
            margin: 20px 0;
        }
        span {
            margin: 5px 0;
        }
    }

    .contact-button {
        margin: 10px ;
        margin-top: 50px;
        width: fit-content;
    }
}