.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.headline {
  font-family: Crimson Text;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #062601;
}

.sub-headline {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  color: #0F4001;

}

.btn-primary {
  background-color: #062601 !important;
  border: none !important;
  
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #4F7302 !important;
}
.btn-primary:active {
    background-color: #062601 !important;
}

.flex-column, .flex-row, .flex-center-center, .flex-start-center, .flex-end-center, .flex-center-start, .flex-center-end, .flex-evenly-start  {
  display: flex
}

.flex-column {
  flex-direction: column
}

.flex-row {
  flex-direction: row
}

.flex-center-center {
  justify-content: center;
  align-items: center
}

.flex-start-center {
  justify-content: start;
  align-items: center
}

.flex-end-center {
  justify-content: end;
  align-items: center
}

.flex-center-start {
  justify-content: center;
  align-items: start
}

.flex-center-end {
  justify-content: center;
  align-items: end
}

.flex-evenly-start {
  justify-content: space-evenly;
  align-items: flex-start;
}